<footer>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h6>¿Quiénes somos?</h6>
                <p>Strazolla es una compañía de comercio en línea confiable, ágil y <br>
                    con soluciones para las necesidades de nuestros clientes</p>
            </div>
            <div class="col">
                <h6>Llámanos o escríbenos</h6>
                <p>himmelklavier@gmail.com</p>
                <p>+57 301 466 0980</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
                <h6>Términos y condiciones</h6>
                <p>
                    Créditos de las imágenes<br>
                    <a href="https://picfinder.ai">AI generative free images</a><br>
                    <a href="http://www.freepik.com">Designed by starline / Freepik</a>
                </p>
            </div>
            <div class="col-5">
                <br>
                <h6>Preguntas frecuentes
                </h6>
            </div>
            <div class="col">
                <br>
                <h6>Nuestras Redes
                </h6>
            </div>
        </div>
    </div>


</footer>