<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <h5>Celular Samsung Galaxy S23+ 5G 512Gb Negro </h5>
        <div class="row">
            <div class="col-sm-8">
                <app-carrusel></app-carrusel>
            </div>
            <div class=" col-sm-4">
                <h1>$3.599.090</h1><br>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Cantidad:</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </form>
                    <a class="btn btn-primary" routerLink="/carrito" role="button" style="margin: 10px;">Agregar al
                        carrito</a>
                </div>
            </div>
            <div class="col-sm-8">
                <h6>Información del producto</h6>
                <p>Galaxy S22 incluye una pantalla brillante de 6,1” Dynamic amoled 2X para que disfrutes de los colores
                    más vivos, la mejor nitidez y todos los detalles sin importar las condiciones de luz de tu ambiente.
                    Dentro de sus beneficios esta su procesador Qualcomm que se destaca por su rendimiento, velocidad y
                    eficiencia en consumo de batería</p>
                <h6>Características</h6>
                <ul>
                    <li>Sensor de píxeles maximizado</li>
                    <li>Certificación IP68</li>
                    <li>Conectividad 5G</li>
                    <li>Procesador Qualcomm</li>
                </ul>

            </div>
            <div class="col-sm-4">
                <app-comentarios></app-comentarios>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>