<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <h5>Control de cuenta de usuario:</h5>
        <div class="row">
            <div class="col-sm-8">
                <h6>Seleccione para ver:</h6>
                <form>
                    <div class="form-group">
                        <!-- <label for="exampleFormControlSelect1">Entidad:</label> -->
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Mis datos</option>
                            <option>Mis compras</option>
                            <option>Mi carrito</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-outline-warning" routerLink="/controluser" role="button" style="margin: 10px;">Editar
                    mis datos</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-1" style="background-color: #ffffff;">
    </div>
</div>