<div class="row">
    <div class="col-sm-2" style="background-color: rgb(255, 255, 255);">
    </div>
    <div class="col-sm-8" style="background-color: #fffbf8;">
        Ingrese con las credenciales que le fueron asignadas. En caso de no tener comuníquese con el administrador del
        sitio.
        <div class="row">
            <div class="col-sm-8" style="background-color: #ffffff;">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Ingrese su usuario">
                        <small id="emailHelp" class="form-text text-muted">Si necesita recuperar usuario o contraseña
                            contacte al administrador</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Mantenerme regsitrado</label>
                    </div>
                    <a class="btn btn-primary" routerLink="/controladmin" role="button"
                        style="margin: 10px;">Acceder</a>
                </form>
            </div>
            <div class="col-sm-4" style="background-color: #ffffff;">
                <!-- TEXTOLevel 2: .col-sm-3 -->
            </div>
        </div>
    </div>
    <div class="col-sm-2" style="background-color: white;">
    </div>
</div>

<div class="row">
    <div class="col-sm-2" style="background-color: white;">
    </div>
    <div class="col-sm-6" style="background-color: #ffffff;">
        <!-- TEXTO Level 2: col-sm-7 -->
    </div>
    <div class="col-sm-2" style="background-color: #ffffff;">
        <!-- TEXTOLevel 2: .col-sm-3 -->
    </div>
    <div class="col-sm-2" style="background-color: white;">
    </div>
</div>