<form class="row g-3" style="padding: 20px;">
    <div class="col-md-4">
        <label for="inputID" class="form-label">Documento</label>
        <input type="Identificacion" class="form-control" id="inputID" placeholder="Número de identificacion">
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="astor@piazolla.com">
    </div>
    <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="*********">
    </div>
    <div class="col-12">
        <label for="inputFirstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Igor">
    </div>
    <div class="col-12">
        <label for="inputLastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Stravisnky">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Dirección">
    </div>
    <div class="col-md-4">
        <label for="inputCiudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputDpto" class="form-label">Departamento</label>
        <select id="inputDpto" class="form-select">
            <option selected>Seleccione...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputPais" class="form-label">Pais</label>
        <select id="inputPais" class="form-select">
            <option selected>Seleccione...</option>
            <option>...</option>
        </select>
    </div>


    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" routerLink="/micuenta" class="btn btn-primary">Sign in</button>
    </div>
</form>