<div class="container" style="padding: 2%;">
    <h4>Su búsqueda produjo estos resultados:</h4>
    <table class="table table-striped" id="table-search">
        <thead>
            <tr style="justify-content: space-evenly;">
                <th><a>Producto</a>
                </th>
                <th><a>Características</a>
                </th>
                <th><a>Precio</a>
                </th>
            </tr>
        </thead>
        <tbody id="searchList">
        </tbody>
    </table>
</div>